* {
  font-family: sans-serif;
  line-height: 1.4;
}

body {
  border: 5px solid black;
}

h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

.price {
  font-weight: 700;
  font-size: x-large;
}

.free-shipping {
  text-transform: uppercase;
  font-size: small;
  font-weight: bolder;
  color: #7e7e7e;
}

button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  text-align: left;
  font-size: x-large;
  border-style: none;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-style: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: square;
}
