* {
  font-family: sans-serif;
  line-height: 1.4;
}

body {
}

.container {
  border: 5px solid black;
  width: 900px;
  margin: 50px auto;
}

h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 20px;
  margin-top: 0px;
  /* padding-bottom: 10px; */
}

img {
  margin-top: -20px;
}

h4 {
  text-transform: uppercase;
}

.price {
  font-weight: 700;
  font-size: x-large;
  margin-top: 0px;
}

.free-shipping {
  text-transform: uppercase;
  font-size: small;
  font-weight: bolder;
  color: #777;
  margin-top: -27px;
}

button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  text-align: center;
  font-size: x-large;
  border-style: none;
  cursor: pointer;
  width: 900px;
  padding: 20px;
}

button:hover {
  background-color: white;
  color: black;
}

/*All four below Pseudo classes: link- visited- hover- active*/
a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

ul li {
  list-style: square;
  margin-left: -20px;
}
